 .one{
height: 200px;
width: 200px;
padding: 50px;
background-color: aqua;
color: black;
margin-bottom: 20px;
box-sizing: content-box;
}
.two{
    height: 200px;
    width: 200px;
    padding: 50px;
    background-color: cadetblue;
    color: black;
    box-sizing: content-box;
    
} 
